body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #222;
}

.clock {
    /* display:; */
    text-align: center;
    /* justify-content: center;
    align-items: center; */
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#PresentDay {
    color: #fff;
    font-size: 2rem;
    /* text-align: center; */
}

#age {
    color: #fff;
    font-size: 2rem;
    /* text-align: center; */
}

#name{
    color:aqua;
    font-size: 3rem;
    /* text-align: center; */
}

img{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* text-align: center; */
    height: 200px;
    width: 200px ;
}

/* #time {
    color: #fff;
    font-size: 2rem;
    text-align: center;
} */
